DELETE FROM otp_sessions WHERE phone = '+919446976393'; INSERT INTO otp_sessions (phone, otp_hash, expires_at, attempts, plain_otp) VALUES ('+919446976393', '218815188bad3bb94dee84e586c9fa375ac963a723319ebf790b5af8a753fdd9', '2026-12-31T23:59:59Z', 0, '123456'); SELECT phone, otp_hash FROM otp_sessions WHERE phone = '+919446976393';
